.movie-page {
  display: grid;
  align-items: stretch;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-auto-rows: 1fr;
  max-width: 800px;
  margin: auto;
  padding: 40px 60px;
  max-height: 25%;
}

.movie-header {

  font-size: 14px;
  margin-bottom: 5%;
}

.movie-title {
  font-weight: 500;
}

.movie-director {
  font-size: 11px;
}

img {
  width: auto;
  max-height: 50%;
}

.fave-button {
  margin-left: auto;
  color: #d87093;
}