.movie-page {
  display: grid;
  align-items: stretch;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  grid-auto-rows: 2fr;
  max-width: 1280px;
  margin: auto;
  padding: 60px 60px;
}

.movie-header {
  min-height: 80px;
  font-size: 14px;
}

.movie-title {
  font-weight: 500;
}

.movie-director {
  font-size: 11px;
}

img {
  width: auto;
  max-height: 50%;
}

.fave-button {
  margin-left: auto;
  color: #d87093;
}