.navbar {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.example-spacer {
  flex: 1 1 auto;
}

.text-color {
  font-size: 1rem;
  color: rgb(60, 92, 102);
  cursor: pointer;
  text-decoration: none;

  text-shadow: 0 0 0.025em currentColor;


  position: relative;
}


.text-color:hover,
.text-color:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.text-color:hover::before,
.text-color:focus::before {
  opacity: 1;
}

.text-color:hover::after,
.text-color:focus::after {
  opacity: 1;
}